<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="style.css">
    <title>Hot Restaurant</title>
</head>
<body>
    <div class=" container">
        <div class="jumbotron text-center  my-4">
            <h1 class="display-4"><i class="fab fa-hotjar"></i>Hot Restaurant</h1>
            <hr class="my-4">
            <p>Make a Reservation</p>
            <p class="lead">
              <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
              <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-list-alt"></i> View Tables</button>
              <button type="button" class="btn btn-light"><i class="glyphicon glyphicon-home"></i></button>
            </p>
          </div>
          <div class="card mb-4 ">
            <div class="card-header blue-light text-dark">
                Table Reservation
              </div>
          <div class="card-body mb-3">
            <form role="form">
              <div class="form-group">
                <label for="name-input">Name:</label>
                <input class="form-control" id="name-input" type="text">
              </div>
              <div class="form-group">
                <label for="role-input">Email:</label>
                <input class="form-control" id="email-input" type="text">
              </div>
              <div class="form-group">
                <label for="role-input">Phone Number:</label>
                <input class="form-control" id="phone-input" type="text">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          </div>
        </div>
        <footer class="footer">
            <div class="container">
              <p><a href="">API Table Link</a> |
              <a href="">API Wait List</a></p>
            </div>
          </footer>

          
</body>
</html>